@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.forShadow{
    box-shadow: 10px 10px 19px #1c1e22, 
                -10px -10px 19px #262a2e;
    border-radius: 6px;
    transition: all .5s;
    background: linear-gradient(145deg, #1e2024, #23272b);
}
.forShadow:hover{
    transform: translateY(-5px);
    background-color: #1e2024 !important;
    background: linear-gradient(145deg, #23272b,#1e2024);
}